<style>

/* reset */
* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
        background: url('images/company.jpg');
            background-size: cover;
            background-repeat: none;
            background-attachment: fixed;

}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }


/* wrap */

.outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}
  
        .container {
            position: relative;
            top: 0px;
            left: 0px;
            
            
        }




/* menu page styles */

.page {
    position: relative;
    width: 70%;
    left: 10%;
    height: 1800px; 
    margin-bottom: 20px;
    margin-top: 20px;
    transform: rotateY(10deg) skewY(-6deg);
}

        .one {
            background-color: orange;
            
        }

        .two {
            background-color: yellow;
            
        }


/* page one elements */

.title {
    
    position: absolute;
    height: 15%;
    width: 90%;
    top: 1%;
    left: 1%;
    font-family: 'Monoton', mono;
    font-size: 4.5vw;
    color: white;
    background-color: black; 
    width: calc(100%-36px);
    box-shadow: 6px 6px cyan;
}

.date {
    position: absolute;
    width: calc(100%-36px);
    height: 5%;
    top: 17%;
    left: 1%;
    font-family: mono;
    font-size: 1.8vw;
    color: white;
    background-color: black;
    text-align: center;
    box-shadow: 4px 4px blue;
}


.headshots {
    position: absolute;
    height: 10%;
    left: 5%;
    bottom: 20%;
    
}

        .headshot {
            position: relative;
            width: 10%;
            box-shadow: 8px 8px blue;
        }


.introvid {
    position: absolute;;
    height: 40%;
    width: calc(40%*5/3);
    top: 24%;
    left: 10%;
}



.ads {
    position: absolute;
    height: 15%;
    width: 90%;
    left: 1%;
    background-color: purple;
    bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    box-shadow: 8px 8px green;
    
    
}

        .ad {
            position: relative;
            height: 95%;
            width: 30%;
            bottom: 1%;
            margin: 1%;
        }
        
                .circular {
                    background: url('images/business/circular.jpg');
                    background-size: 100% 100%;
                } 
                
                .business {
                    background: url('images/business/business.jpg');
                    background-size: 100% 100%;
                }
                    
                .freetrial {
                    background: url('images/business/freetrial.png');
                    background-size: 100% 100%;
                }


.bottomtxt {
    position: absolute;
    height: 3.5%;
    width: 80%;
    left: 1%;
    bottom: 1%;
    font-family: mono;
    font-size: 18px;
    color: purple;
    background-color: cyan;
    box-shadow: 6px 6px gray;
   
}

/* page two */

.toplist {
    position: absolute;
    left: 1%;
    height: 15%;
    top: 3%;
    width: 45%;
    margin: 10px;
    box-shadow: 6px 6px gray;
    font-family: Monoton, mono;
    font-size: 3.5vw;
}

.playlist {
        position: absolute;
        margin: 10px;
        width: 45%;
        height: 75%;
        top: 20%;
        left: 1%;
        background-color: green;
        box-shadow: 6px 6px blue;
        
}

.desks {
    position: absolute;
    top: 5%;
    margin: 10px;
    width: 45%;
    height: 20%;
    right: 3%;
    background: url('images/desks.jpg');
    background-size: 100% 100%;
    box-shadow: 6px 6px yellow;
}

.caption {
    position: absolute;
    top: 26%;
    width: 45%;
    height: 6%;
    right: 3%;
    margin: 10px;
    font-family: mono;
    font-size: 1vw;
    text-align: right;
}

.credits {
    position: absolute;
    width: 45%;
    height: 25%;
    right: 3%;
    bottom: 34%;
    margin: 10px;
    box-shadow: 6px 6px orange;
    font-size: 1vw;
    font-family: mono;
}

.watchlast {
    position: absolute;
    height: 4%;
    width: 45%;
    right: 3%;
    bottom: 28%;
    margin: 10px;
    box-shadow: 6px 6px cyan;
    font-size: 1.8vw;
    text-align: center;
}

.outro {
    position: absolute;
    bottom: 1%;
    right: 3%;
    margin: 10px;
    width: 45%;
    height: calc(45% * 0.6);
    font-family: mono;
    
    
}

/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}


/* link styles */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
    
    
}

a:hover {
    text-decoration: underline;
}


</style>
